<form [formGroup]="filterForm" (ngSubmit)="submitFilterForm()" novalidate>
  <div class="field has-addons">
    <div class="control auto-directions">
      <ng-autocomplete #directionss
                       [data]="directions" [placeHolder]="searchDirectionsPlaceholder"
                       [searchKeyword]="keyword"
                       (selected)='selectEvent($event)'
                       [itemTemplate]="itemTemplate"
                       [notFoundTemplate]="notFoundTemplate"
                       formControlName="directions">
      </ng-autocomplete>
      <ng-template #itemTemplate let-item>
        <a [innerHTML]="item.name"></a>
      </ng-template>
      <ng-template #notFoundTemplate let-notFound>
        <div [innerHTML]="notFound"></div>
      </ng-template>
    </div>
    <div class="control">
      <div class="control has-icons-left">
        <div class="select is-small">
          <select formControlName="year">
            <option [ngValue]="null">Год выпуска</option>
            <option>2020</option>
            <option>2019</option>
          </select>
        </div>
        <span class="icon is-small is-left">
              <i class="fas fa-filter"></i>
            </span>
      </div>
    </div>
    <div class="control">
      <div class="control has-icons-left">
        <div class="select is-small">
          <select title="Категория студента" formControlName="category">
            <option [ngValue]="null">Категория студента</option>
            <option>общая</option>
          </select>
        </div>
        <span class="icon is-small is-left">
              <i class="fas fa-filter"></i>
            </span>
      </div>
    </div>
    <div class="control">
      <div class="control has-icons-left">
        <div class="select is-small">
          <select title="Категория студента" formControlName="planLearn">
            <option [ngValue]="null">Продолжение обучения</option>
            <option>бакалавриате</option>
            <option>магистратуре</option>
            <option>аспирантуре</option>
          </select>
        </div>
        <span class="icon is-small is-left">
              <i class="fas fa-filter"></i>
            </span>
      </div>
    </div>
    <div class="control">
      <div class="control has-icons-left">
        <div class="select is-small">
           <select title="Категория студента" formControlName="planFuture">
            <option [ngValue]="null">Планы на будущее</option>
            <option>работа</option>
            <option>декрет</option>
            <option>армия</option>
            <option>бизнес</option>
            <option>другое</option>
          </select>
        </div>
        <span class="icon is-small is-left">
              <i class="fas fa-filter"></i>
        </span>
      </div>
    </div>
    <div class="control">
      <div class="control has-icons-left">
        <div class="select is-small">
          <select title="Категория студента" formControlName="workSpec">
            <option [ngValue]="null">Работать в дальнейшем</option>
            <option value="1">по специальности</option>
            <option value="0">не по специальности</option>
          </select>
        </div>
        <span class="icon is-small is-left">
              <i class="fas fa-filter"></i>
            </span>
      </div>
    </div>
  </div>
  <div class="field has-addons">
    <div class="control">
      <div class="control has-icons-left">
        <div class="select is-small">
          <select formControlName="employ">
            <option [ngValue]="null">Трудоустроен(а)</option>
            <option value="1">Да</option>
            <option value="0">Нет</option>
          </select>
        </div>
        <span class="icon is-small is-left">
             <i class="fas fa-briefcase"></i>
            </span>
      </div>
    </div>
    <div class="control auto-company">
      <ng-autocomplete #company
                       [data]="companyName" [placeHolder]="filterCompanyNamePlaceholder"
                       [searchKeyword]="keyword"
                       (selected)='selectCompanyName($event)'
                       [itemTemplate]="itemTemplate"
                       [notFoundTemplate]="notFoundTemplate" formControlName="company">
      </ng-autocomplete>
      <ng-template #itemTemplate let-item>
        <a [innerHTML]="item.name"></a>
      </ng-template>
      <ng-template #notFoundTemplate let-notFound>
        <div [innerHTML]="notFound"></div>
      </ng-template>
    </div>
    <div class="control auto-position">
      <ng-autocomplete #directionss
                       [data]="companyPosition" [placeHolder]="filterCompanyPositionPlaceholder"
                       [searchKeyword]="keyword"
                       (selected)='selectEvent($event)'
                       [itemTemplate]="itemTemplate"
                       [notFoundTemplate]="notFoundTemplate" formControlName="position">
      </ng-autocomplete>
      <ng-template #itemTemplate let-item>
        <a [innerHTML]="item.name"></a>
      </ng-template>
      <ng-template #notFoundTemplate let-notFound>
        <div [innerHTML]="notFound"></div>
      </ng-template>
    </div>
    <div class="control">
      <div class="control has-icons-left">
        <div class="select is-small">
          <select formControlName="companyCity">
            <option [ngValue]="null">Город организации</option>
            <option *ngFor="let city of companyCity">{{ city }}</option>
          </select>
        </div>
        <span class="icon is-small is-left">
             <i class="fas fa-briefcase"></i>
            </span>
      </div>
    </div>
    <div class="control">
      <div class="control has-icons-left">
        <div class="select is-small">
          <select formControlName="lineOfBusiness">
            <option [ngValue]="null">Направление деятельности</option>
            <option value="1">по специальности</option>
            <option value="0">не по специальности</option>
          </select>
        </div>
        <span class="icon is-small is-left">
             <i class="fas fa-briefcase"></i>
      </span>
      </div>
    </div>
    <div class="control">
      <div class="control has-icons-left">
        <div class="select is-small">
          <select title="Категория студента" formControlName="info">
            <option [ngValue]="null">Иноформирование</option>
            <option value="1">да</option>
            <option value="0">нет</option>
          </select>
        </div>
        <span class="icon is-small is-left">
              <i class="fas fa-filter"></i>
            </span>
      </div>
    </div>
  </div>
    <div class="buttons is-filter">
      <button class="button is-link is-small is-light" type="submit">Применить фильтр</button>
      <button class="button is-link is-small is-light" (click)="resetFilter()">Отменить фильтр</button>
    </div>
</form>
<div class="tags">
            <span *ngFor="let direction of selectedDirections" class="tag is-info">
              {{direction.name}}
              <button class="delete is-small" (click)="deleteTagDirections(direction.name)"></button>
            </span>
  <span *ngFor="let company of companyNameSelected" class="tag is-success">
              {{company.name}}
    <button class="delete is-small" (click)="deleteTagCompany(company.name)"></button>
            </span>
</div>
